<form class="daggerheart-statblock-importer">
  <div class="dialog-content">
    <div class="instructions">
      {{localize "daggerheart-statblock-importer.dialog.instructions"}}
    </div>
    
    <textarea 
      class="statblock-input" 
      name="statblockText" 
      placeholder="{{localize 'daggerheart-statblock-importer.dialog.placeholder'}}"
      required
    ></textarea>
    
    <div class="button-row">
      <button type="button" class="close-button" data-action="close">
        {{localize "daggerheart-statblock-importer.button.close"}}
      </button>
      <button type="submit" class="import-button" data-action="import">
        <i class="fas fa-download"></i>
        {{localize "daggerheart-statblock-importer.button.import"}}
      </button>
    </div>
  </div>
</form>

